.humanid-logo {
	display: flex;
	justify-content: center;


	&__placement {
		max-width: rem(120px);
		margin-bottom: rem(48px);


		img {
			max-width: 100%;
			width: rem(128px);
			height: rem(128px);
			margin-bottom: rem(12px);
		}
	}

	&__new-number {
		img {
			max-width: 100%;
			width: rem(117px);
			Height: rem(84px);
			margin-bottom: rem(12px);
		}
	}
}
