.humanid-container {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: rem(16px);
    padding-left: rem(16px);
    padding-top: 110px;
    text-align: center;
}