.humanid-header {
    background: $humanid-primary;
    text-align: center;
    padding: rem(8px 16px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    img {
        max-width: 296px;
        width: 100%;
    }
    select {
        position: absolute;
        top: rem(10px);
        right: 30px;
        padding: rem(10px) rem(10px);
        @include border-radius(6px);
        border: rem(1px) solid $black-0;
    }
}
@media only screen and (max-width: 500px) {
    .humanid-header {
        text-align: unset;
    }
}
